<section class="row">
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11">
                <strong>{{doc.title}}</strong><p class="lastupdate"> Ultimo aggiornamento: {{doc.date | amDateFormat:'DD/MM/YYYY HH:mm'}}</p>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
                <i data-toggle="modal" data-target="#deleteModal" class="fa fa-trash fa-2x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="n in doc.tag">
                    {{n.text}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-bind=doc.text></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{{doc.image.urlImage}}" ng-hide="{{doc.image.hasImage}}"/>
                </br>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Sicuro di voler eliminare la nota?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-circle-sm annulla" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-success btn-circle-sm"  ng-click="del(doc.id, doc._rev, doc.image)" data-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<i class="fa fa-chevron-left fa-2x backarrow" aria-hidden="true" ng-click="backarrow()"></i>
