<section class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <h2> Modifica Nota</h2>
            </div>
        </div>

        <form>
            <span>LAST UPDATE: {{date | amDateFormat:'DD/MM/YYYY HH:mm'}}</span>
            <br><br>
            <label for="name">Titolo</label>
            <input type="text" class="form-control" id="name" ng-model="name">
            <br><br>

            <!--<label for="date">Data</label>
            <input type="date" class="form-control" id="date" ng-model="date">
            <br><br>

            <label for="text">Testo</label>
            <textarea cols="100" rows="10" type="text" class="form-control" id="text" ng-model="text"></textarea>
            <br><br>
            -->
            
            <div text-angular ng-model="text"></div>

        </form>


        <div class="row" >
            <div class="col-md-12">
                <button type="button" class="btn btn-circle btn-success saveButton" ng-click="updateClick()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </div>
        </div>



    </div>
</section>