<div class="row">
    <div class="col-md-12" >
        <h2> Nuova Nota </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <label for="name">Titolo</label>
            <input type="text" class="form-control" id="name" ng-model="name">
            <br>

            <!--<label for="date">Date</label>-->
            <!--<input type="date" class="form-control" id="date" ng-model="date"><br>-->

            <!--
            <label for="text">Testo</label>
            <textarea cols="100" rows="10" type="text" class="form-control" id="text" ng-model="text"></textarea>
            <br>
            -->

            <div text-angular ng-model="text"></div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-circle btn-success saveButton" id="spazio" ng-click="insertClick()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>
</div>