<div class="brand">JESSE</div>
<div class="address-bar">Via Sacile 75 | Francenigo TV 31018 | 0434 766711</div>

<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="" ui-sref="list">JESSE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="list" href="">Tutti gli stores</a>
                </li>
                <li>
                    <a ui-sref="map" href="">Vicino a te</a>
                </li>
                <li>
                    <a ng-click="logout()" href="">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">

                <div class="row">
                    <div class="col-lg-10">
                        <hr>
                        <h1>
                            <strong>{{storeDet.name}}</strong>
                        </h1>
                        <hr>
                    </div>
                    <div class="col-lg-2">
                        <img src="asserts/shop-closed-icon.jpg" ng-show="isinactive"/>
                        <img src="asserts/shop-open-icon.jpg" ng-show="isactive"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Sales Manager:</h3>
                        {{storeDet.sales_person.first}}
                        {{storeDet.sales_person.last}}<br>
                        <a href="mailto:{{storeDet.sales_person.email}}">{{storeDet.sales_person.email}}</a>
                        <h3>Contatti e Indirizzo:</h3>
                        {{storeDet.address}}<br>
                        <a href="tel:{{storeDet.phone}}">{{storeDet.phone}}</a>
                    </div>
                    <div class="col-lg-6">
                        <h3>Descrizione:</h3>
                        {{storeDet.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <div class="row noOpacity">
                    <div class="col-lg-12">
                        <h3>Mappa:</h3>
                        <div id="map" class="img-responsive"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- /.container -->

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>