<div class="brand">JESSE</div>
<div class="address-bar">Via Sacile 75 | Francenigo TV 31018 | 0434 766711</div>

<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="" ui-sref="list">JESSE</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="list" href="">Tutti gli stores</a>
                </li>
                <li>
                    <a ui-sref="map" href="">Vicino a te</a>
                </li>
                <li>
                    <a ng-click="logout()" href="">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">

                <div class="row">
                    <div class="col-lg-12 storespinner">
                        <img ng-src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif" ng-show="loading"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6" ng-repeat="n in list | limitTo: list.length /2: 0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>{{n.name}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{n.address}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="tel:{{n.phone}}">{{n.phone}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i class="fa fa-info-circle info" aria-hidden="true" ng-click="details(n.guid)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-lg-6" ng-repeat="n in list | limitTo: list.length /2: list.length /2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>{{n.name}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{n.address}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="tel:{{n.phone}}">{{n.phone}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i class="fa fa-info-circle info" aria-hidden="true" ng-click="details(n.guid)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>




                <!--
                <div ng-repeat="n in list">


                    <div class="row">
                        <div class="col-lg-2">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>{{n.name}}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{n.address}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="tel:{{n.phone}}">{{n.phone}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <i class="fa fa-info-circle info" aria-hidden="true" ng-click="details(n.guid)"></i>
                        </div>
                    </div>
                    <hr>


                </div>-->

            </div>
        </div>
    </div>


</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>