<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 box" ng-show="loginshow">
            <form class="text-center">
                <div class="form-group">
                    <img src="../public/asserts/logo-jesse-cerchio.png">
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="control-label">Email:</label>
                    <input type="email" class="form-control" id="inputEmail1" ng-model="email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="control-label">Password:</label>
                    <input type="password" class="form-control" id="inputPassword1" ng-model="password">
                </div>
                <br>
                <img ng-src="http://v2.preloaders.net/preloaders/2/Broken%20circle.gif" ng-show="loginwait"/>
                <button type="submit" class="btn btn-raised btn-primary noOpacity" ng-click="loginComplete()" ng-show="submithide">Login</button>
            </form>
        </div>
    </div>
</div>